@font-face {
  font-family: "iconfont"; /* Project id 5075641 */
  src: url('iconfont.woff2?t=1764645633152') format('woff2'),
       url('iconfont.woff?t=1764645633152') format('woff'),
       url('iconfont.ttf?t=1764645633152') format('truetype'),
       url('iconfont.svg?t=1764645633152#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shezhi:before {
  content: "\e600";
}

.icon-lianxiren:before {
  content: "\e611";
}

.icon-map:before {
  content: "\e719";
}

.icon-chat:before {
  content: "\e69d";
}

